[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

tensorflow = "*"
numpy = "*"
google-cloud = "*"
dm-sonnet = "*"
matplotlib = "*"
google-cloud-pubsub = "*"
pyaml = "*"
pika = "*"
coloredlogs = "*"
petname = "*"


[requires]

python_version = "3.6"
